# Environments
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
/staticfiles/

# Env vars / secrets
.env
*.env

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
